{% assign __crumbs = include.path | remove: "index.html" | remove: "README.md" | split: '/' %}

<nav>
    <ol class="nbs-breadcrumb">
        {% assign __path = '' %}
        {% for __crumb in __crumbs %}
            <li {% if forloop.last %}class="active"{% endif %}>
                {% unless forloop.first %}
                    {% assign __path = __path | append : '/' %}
                {% endunless %}
                {% assign __path = __path | append: __crumb %}

                {% comment %} locate folder README {% endcomment %}
                {% unless forloop.last %}
                    {% comment %} test for README or index {% endcomment %}
                    {% assign __targetMD = __path | append: "/README.md" %}
                    {% assign __targetHTML = __path | append: "/index.html" %}

                    {% capture __titleMD %}{% include function/resolve-name.liquid path=__targetMD %}{% endcapture %}
                    {% capture __titleHTML %}{% include function/resolve-name.liquid path=__targetHTML %}{% endcapture %}

                    {% if __titleMD != "" %}
                        {% assign __title = __titleMD %}
                    {% else %}
                        {% assign __title = __titleHTML %}
                    {% endif %}
                {% else %}
                    {% comment %} get current preferred name {% endcomment %}
                    {% capture __title %}{% include function/resolve-name.liquid path=include.path %}{% endcapture %}
                {% endunless %}
                {% comment %} actual breadcrumb {% endcomment %}
                {% if __path contains '.' %}
                    {% assign __ldot = __path | split: '.' | size | minus: 1 %}
                    {% assign __name = __path | split: '.' | slice: 0, __ldot | join: '.' %}
                {% else %}
                    {% assign __name = __path %}
                {% endif %}

                {% unless include.raw %}
                    <a href="/{{ __name }}">{{ __title | strip }}</a>
                {% else %}
                    <p>{{ __title | strip }}</p>
                {% endunless %}
            </li>
        {% endfor %}
    </ol>
</nav>