{% assign __toc_breakpoint = "xl" %}

<div class="container-lg">
    <div class="my-5 mx-1 mx-{{ site.breakpoint }}-5">
        {% include breadcrumb.liquid path=page.path %}
        <article class="e+article row m-0">
            {% comment %} header {% endcomment %}
            <div class="order-1 col-12">
                <h1 class="my-4">
                    {% include function/resolve-name.liquid path=page.path %}
                </h1>
                {% if page.description %}
                    <p class="mb-4 h5">
                        {{ page.description }}
                    </p>
                {% endif %}
            </div>
            {% comment %} toc {% endcomment %}
            <div class="markdown-toc order-2 order-{{ __toc_breakpoint }}-last col-12 col-{{ __toc_breakpoint }}-3">
                <div class="ms-{{ __toc_breakpoint }}-3">
                    <h2 id="table-of-contents" class="h6 fw-bold mb-0">
                        <a class="text-body" href="#table-of-contents">In this article</a>
                    </h2>
                    <hr class="my-0">
                    {% include import/toc.html html=content %}
                    <hr class="mt-0 mb-5 d-{{ __toc_breakpoint }}-none">
                </div>
            </div>
            {% comment %} article {% endcomment %}
            <div class="markdown order-3 col-12 col-{{ __toc_breakpoint }}-9">
                <div class="me-{{ __toc_breakpoint }}-3">
                    {% include import/anchor_headings.html
                        html=content
                        anchorBody='#'
                        anchorClass="text-decoration-none"
                    %}
                </div>
            </div>
        </article>
    </div>
</div>