<section class="bg-white py-4">
    <div class="container-lg">
        <div class="d-flex flex-column mx-1 mx-{{ site.breakpoint }}-5">
            {% comment %} header {% endcomment %}
            <h2 class="h6 mb-0">Help maintain our documentation.</h2>
            <small class="text-secondary">All documentation is open source. Submit a pull request if something is wrong or if you want to make an improvement.</small>
            {% comment %} button {% endcomment %}
            <div class="mt-2">
                {% comment %} todo: if 404 make new page {% endcomment %}
                <a
                    class="btn btn-outline-primary px-4"
                    href="https://github.com/KatsuteDev/docs.katsute.dev/edit/main/{{ page.path }}"
                    target="_blank"
                >
                    <i class="fas fa-code-branch"></i>
                    Make a contribution
                </a>
            </div>
            {% comment %} contributing link {% endcomment %}
            <small class="mt-2">
                <a class="text-decoration-none" href="/contributing">
                    View contribution guidelines
                </a>
            </small>
        </div>
    </div>
</section>