<footer class="footer">
    <div class="container-xl d-flex justify-content-center">
        <ul class="nav">
            <li>
                <span>&copy; {{ site.time | date: "%Y" }} Katsute</span>
            </li>
            {% comment %} navigation links {% endcomment %}
            {% for __link in site.data.footer %}
                <li>
                    {% assign __first = __link | first | last | slice: 0 %}
                    <a href="{{ __link | first | last }}" {% unless __first == '/' %}target="_blank"{% endunless %}>{{ __link | first | first }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</footer>