<footer class="e+footer">
    <div class="container-xl d-flex justify-content-center">
        <ul class="nav d-flex flex-wrap small">
            <li>
                <span>&copy; {{ site.time | date: "%Y" }} Katsute</span>
            </li>
            {% comment %} navigation links {% endcomment %}
            <li>
                <a href="https://github.com/KatsuteDev">{% include function/get-translation.liquid key="footer.github" %}</a>
            </li>
            <li >
                <a href="https://github.com/KatsuteDev/docs.katsute.dev/issues">{% include function/get-translation.liquid key="footer.issues" %}</a>
            </li>
            <li>
                <a href="/{{ lang }}/contributing">{% include function/get-translation.liquid key="footer.contributing" %}</a>
            </li>
            <li>
                <a href="https://github.com/KatsuteDev/docs.katsute.dev/blob/main/LICENSE">{% include function/get-translation.liquid key="footer.license" %}</a>
            </li>
        </ul>
    </div>
</footer>