{% comment %} metadata {% endcomment %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.description %}
    <meta name="description" content="{{ page.description }}">
{% endif %}
{% if page.hidden %}
    <meta name="robots" content="noindex, nofollow, none, noarchive, nosnippet" />
{% endif %}

<title>todo</title>

{% comment %} dependencies {% endcomment %}

<link rel="alternate icon" type="image/png" href="/dependencies/katsute/assets/favicon.png">
<link rel="icon" type="image/svg+xml" href="/dependencies/katsute/assets/favicon.ico">

<link rel="stylesheet" href="/dependencies/node/sanitize.css/css/sanitize.css">
<link rel="stylesheet" href="/dependencies/node/fontawesome/css/all.min.css">
<script defer src="/dependencies/node/fontawesome/js/all.min.js"></script>
<link rel="stylesheet" href="/dependencies/katsute/css/highlight.css">
<link rel="stylesheet" href="/dependencies/katsute/css/style.css">

{% comment %} overrides {% endcomment %}

{{ layout.head }}
{{ page.head }}