<div class="header">
    {% comment %} logo on small viewports {% endcomment %}
    <div class="header-brand d-{{ site.breakpoint }}-none">
        {% include layout/brand.liquid %}
    </div>
    {% comment %} top navigation {% endcomment %}
    <nav class="navbar navbar-expand-{{ site.breakpoint }}">
        {% comment %} toggler {% endcomment %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-navigation">
            <i class="fas fa-bars fa-fw"></i>
        </button>
        {% comment %} navigation {% endcomment %}
        <div id="mobile-navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-{{ site.breakpoint }}-auto">
                {% comment %} mobile nav {% endcomment %}
                {% include layout/header-mobile-nav.liquid %}
            </ul>
        </div>
    </nav>
</div>