{% assign __sorted = site.pages | sort: "title", "last" %}
{% for __page in __sorted %}
    {% assign __dir = __page.path | split: '/' %}

    {% comment %} only include matching locale {% endcomment %}
    {% if __dir[0] != lang %}{% continue %}{% endif %}

    {% comment %} if found folder {% endcomment %}
    {% assign __dir2 = __dir[2] | downcase %}
    {% if __dir2 == "readme.md" or __dir2 == "index.html" %}
        <li class="d-{{ include.breakpoint }}-none">
            <a href="{% include function/resolve-path.liquid path=__page.path %}">
                {% include function/resolve-name.liquid path=__page.path %}
            </a>
        </li>
    {% endif %}
{% endfor %}

{% comment %} search bar {% endcomment %}
{% assign __dir1 = page.path | split: '/' | slice: 1 | first | downcase %}
{% if __dir1 != "index.html" and __dir1 != "readme.md" and __dir1 != "404.html" %}
    <li class="li-divider d-{{ site.breakpoint }}-none"></li>
    {% include search.liquid %}
{% endif %}