{% comment %} metadata {% endcomment %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.description %}
    <meta name="description" content="{{ page.description }}">
{% endif %}
{% if page.hidden or layout.hidden %}
    <meta name="robots" content="noindex, nofollow, none, noarchive, nosnippet" />
{% endif %}

{% comment %} title {% endcomment %}

{% assign __title = "docs.page_not_found" %}
{% if page.title %}
    {% assign __title = page.title %}
{% elsif layout.title %}
    {% assign __title = layout.title %}
{% elsif page[404] or layout[404] %}
    {% capture __title %}{% include function/get-translation.liquid key="docs.page_not_found" %}{% endcapture %}
{% else %}
    {% capture __title %}{% include function/resolve-name.liquid path=page.path %}{% endcapture %}
{% endif %}
<title>{{ __title | strip }}</title>

{% comment %} dependencies {% endcomment %}

<link rel="icon" type="image/svg+xml" href="/dependencies/katsute/assets/favicon.ico">
<link rel="alternate icon" type="image/png" href="/dependencies/katsute/assets/favicon.png">

<link rel="stylesheet" href="/dependencies/node/sanitize.css/css/sanitize.css">

<link rel="stylesheet" href="/dependencies/node/fontawesome/css/all.min.css">
<script defer src="/dependencies/node/fontawesome/js/all.min.js"></script>

<link rel="stylesheet" href="/dependencies/katsute/css/highlight.css">
<link rel="stylesheet" href="/dependencies/katsute/css/style.css">

{% comment %} overrides {% endcomment %}

{{ layout.head }}
{{ page.head }}