{% assign __breakpoint = "md" %}

<div class="e+header">
    {% comment %} logo on small viewports {% endcomment %}
    <div class="e+header-brand d-{{ __breakpoint }}-none">
        <div class="c+brand">
            <img src="/dependencies/katsute/assets/favicon.ico">
            <a href="/{{ lang }}">
                {% include function/get-translation.liquid key="docs.title" %}
            </a>
        </div>
    </div>
    {% comment %} top navigation {% endcomment %}
    <nav class="navbar navbar-expand-{{ __breakpoint }}">
        {% comment %} toggler {% endcomment %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation">
            <i class="fas fa-bars fa-fw"></i>
        </button>
        {% comment %} navigation {% endcomment %}
        <div id="navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-{{ __breakpoint }}-auto">
                {% comment %} language {% endcomment %}
                {% include layout/header-language.liquid %}
                <li class="e+divider d-{{ breakpoint }}-none"><hr></li>
                {% comment %} mobile nav {% endcomment %}
                {% include layout/header-mobile-nav.liquid breakpoint=__breakpoint %}
            </ul>
        </div>
    </nav>
</div>