{% comment %} search {% endcomment %}
<div class="container-lg my-5">
    <div class="mx-1 mx-{{ site.breakpoint }}-5">
        {% include search.liquid %}
    </div>
    <div class="mx-1 mx-{{ site.breakpoint }}-5">
        <div class="search-results-container">
            <ul id="search-results"></ul>
        </div>
    </div>
</div>
{% comment %} all repos {% endcomment %}
<div class="container-lg mb-5">
    <div class="d-flex flex-wrap mx-1 mx-{{ site.breakpoint }}-5">
        {% for __page in site.pages %}
            {% assign __dir = __page.path | split: '/' %}

            {% assign __dir2 = __dir[1] | downcase %}
            {% comment %} only include folder {% endcomment %}
            {% if __dir2 == "readme.md" __dir2 == "index.html" %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="position-relative me-3 mb-3">
                        <h3 class="h5 mb-0">
                            <a class="text-decoration-none stretched-link" href="{% include function/resolve-path.liquid path=__page.path %}">{% include function/resolve-name.liquid path=__page.path %}</a>
                        </h3>
                        <small class="text-secondary">
                            {{ __page.description }}
                        </small>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>