{% assign __sorted = site.pages | sort: "title", "last" %}
<ul>
    {% for __page in __sorted %}
        {% assign __dir = __page.path | split: '/' %}
        {% comment %} only include matching locale {% endcomment %}
        {% if __dir[0] != lang %}{% continue %}{% endif %}

        {% comment %} if found folder {% endcomment %}
        {% assign __dir2 = __dir[2] | downcase %}
        {% if __dir2 == "readme.md" or __dir2 == "index.html" %}
            <li>
                <a href="{% include function/resolve-path.liquid path=__page.path %}">
                    {% include function/resolve-name.liquid path=__page.path %}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>