<div class="sidebar">
    {% comment %} header {% endcomment %}
    <div class="sidebar-header">
        {% include layout/brand.liquid %}
    </div>
    {% comment %} navigation {% endcomment %}
    <nav>
        {% assign __len = page.path | split: '/' | size %}
        {% if __len <= 1 %}
            {% comment %} all repos {% endcomment %}
            {% include layout/sidebar-all-repos.liquid %}
        {% else %}
            {% comment %} single repo {% endcomment %}
            {% include layout/sidebar-single-repo.liquid %}
        {% endif %}
    </nav>
</div>