{% assign __sorted = site.pages | sort: "title", "last" %}
<ul>
    {% comment %} file generated link {% endcomment %}
    {% for __page in __sorted %}
        {% assign __dir = __page.path | split: '/' %}

        {% comment %} if found folder {% endcomment %}
        {% assign __dir1 = __dir[1] | downcase %}
        {% if __dir1 == "readme.md" or __dir1 == "index.html" %}
            <li>
                <a href="{% include function/resolve-path.liquid path=__page.path %}">
                    {% include function/resolve-name.liquid path=__page.path %}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    {% comment %} manual links {% endcomment %}
    {% for __link in site.data.links['/'] %}
        {% assign __external == __link | last | slice: 0 %}
        {% unless __external == '/' %}
            {% assign __external = true %}
        {% else %}
            {% assign __external = false %}
        {% endunless %}
        <li>
            <a href="{{ __link | last }}" {% if __external %}target="_blank"{% endif %}>
                {{ __link | first }}
                {% if __external %}
                    <i class="fas fa-external-link-alt fa-fw"></i>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>