.brand {

    > img { // logo

        @extend .user-select-none;

        $size: 30px;

        width : $size;
        height: $size;

    }

    > a { // 'docs' name

        @extend .user-select-none;

        @extend .text-decoration-none;
        @extend .stretched-link;
        @extend .text-white;
        @extend .h5;

        @extend .ms-1;
        @extend .my-0;

    }

}