div.highlighter-rouge {

    // remove curved top on code sample
    > div.highlight {

        border-top-left-radius: 0;
        border-top-right-radius: 0;

    }

    // header
    .code-block-header {

        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom: $dark 1px solid;

        background-color: $darker;

        @extend .px-3;
        @extend .py-2;

        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-between;

        // language name
        p {

            @extend .text-white;

            @extend .mb-0;

        }

        // copy paste button
        button {

            @extend .btn;
            @extend .btn-sm;

            &:not(.success){

                @extend .btn-secondary;

                i, svg {

                    &.fa-check {

                        @extend .d-none;

                    }

                }

            }

            &.success {

                @extend .btn-success;

                i, svg {

                    &.fa-clipboard {

                        @extend .d-none;

                    }

                }

            }

        }

    }

}