#scroll {

    $offset: 1.5rem;
    $size  : 50px;

    z-index: 20000;

    @extend .position-fixed;

    right : $offset;
    bottom: $offset;

    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;

    @extend .btn;
    @extend .btn-primary;
    @extend .rounded-circle;

    width : $size;
    height: $size;

    transition: all .4s ease-in-out !important;

    opacity: 0;

    &.shown {

        opacity: 1;

    }

}