---
layout: compress
---
<!DOCTYPE html>
{% capture lang %}{% include function/get-lang.liquid %}{% endcapture %}
{% assign lang = lang | downcase %}
<html lang="{{ lang }}">

    <head>
        {% include layout/head.html %}
    </head>

    <body class="d-lg-flex">

        {% include layout/sidebar.html %}

        <main class="w-100 mh-100 overflow-auto">
            {% include layout/header.html %}

            {% assign _this = page.path | split: '/' | slice: 1 | first | downcase %}
            {% if _this == "index.html" or _this == "readme.md" %}
                {% include layout/homepage.html %}
            {% elsif _this == "404.html" %}
                {{ content }}
            {% else %}
                {% include layout/article.html %}
            {% endif %}

            {% include layout/contributing.html %}
            {% include layout/footer.html %}
        </main>

        {% include layout/foot.html %}

    </body>
</html>