---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

    <head>
        {% include layout/head.html %}
    </head>

    <body>

        <noscript>This site requires javascript.</noscript>

        {% include layout/sidebar.html %}

        <main id="main">
            {% include layout/header.html %}

            {% comment %} content {% endcomment %}
            {% assign __this = page.path | split: '/' | slice: 0 | first | downcase %}
            {% if __this == "index.html" or __this == "readme.md" %}
                {% include layout/homepage.html %}
            {% elsif __this == "404.html" %}
                {{ content }}
            {% else %}
                {% include layout/article.html %}
            {% endif %}

            {% comment %} bottom {% endcomment %}

            {% include layout/contributing.liquid %}
            {% include layout/footer.html %}

            {% include layout/top-scroll-button.liquid %}
        </main>

        {% include layout/foot.html %}

    </body>
</html>